.results-table {
    margin: 0.625rem;
    overflow: hidden;
    width: 100%;
}

.results-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mobile-molstar-container {
    display: none;
    margin-bottom: 1rem;
    width: 100%;
}

@media (max-width: 768px) {
    .mobile-molstar-container {
        display: block;
    }
}
