ul {
    list-style-type: none;
    padding: 0;
}

ul.navigation {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

ul.navigation li {
    font-weight: bold;
}

.viewer-container {
    border: 1px solid var(--border-color);
    padding: 2rem;
    min-height: 25rem;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .viewer-container {
        flex-direction: column;
        padding: 1rem;
    }

    ul.navigation {
        gap: 1rem;
    }
}

.viewer-3d {
    border: 1px solid var(--accent-color);
    height: 37.5rem;
    position: relative;
    margin: 0.625rem;
}

@media (max-width: 768px) {
    .viewer-3d {
        height: 25rem;
    }
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.right {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}

.msp-plugin .msp-plugin-content {
    z-index: 999;
}
